In [1]:
print("hello world")

hello world

In [2]:
import sys
sys.version

'3.10.12 (main, May 27 2025, 17:12:29) [GCC 11.4.0]'

In [3]:
# single line comments
"""
multiline 
commnet
comments are ignore the compiler
comments can be used to explain python code.
comments can be used to prevent execution when testing code
"""
print("Comments are")

Comments are

In [4]:
# python variable
num = 34
name = 'Md. Atiar Rahman'
price = 33.45

print(num,name,price)

34 Md. Atiar Rahman 33.45

In [6]:
# check type
print(type(num))
print(type(name))
print(type(price))

<class 'int'>
<class 'str'>
<class 'float'>

In [10]:
# type casting
name= '23' #numeric string must than convert string int or float easily
print(float(num))
print(int(name))
print(int(price))

34.0
23
33

In [11]:
# variable are case sensetive
a = 4
A = 'Atiar'
# A will not overwite a

# variable names 
"""
A variable can have a short name(like x and y) or a more descriptive name(age,carname,total_volume)

rules for python variable
1. a variable name must start with a letter or the underscore
2. a variable name cannot start with a number
3. a variable name can only contain alpha numeric characters and underscore
3. variable names are case sensitive(age,Age,AGE are different variables)
4. A variable name  cannot be any of the python keywords
"""

there are several techniques you can use to make them more readable
1. Camel Case
    myVariableName = 'Atiar'
2. Paskel Case
    MyVariableName = 'Atiar'
3. Snake Case
    my_variable_name = 'Atiar'

# Build in data types
variable can store data of different types and different types can do things
1. Text --> str
2. numeric types --> int, float, complex
3. sequence types --> list,tuple,range
4. Mapping types --> dict
5. set types --> set,forenset
6. boolean types --> bool
7. binary types --> bytes,bytearray,memoryview
8. None type --> None

In [16]:
## Random number
import random
for _ in range(100):
    print(random.randrange(1,10),end=' ')

4 4 5 4 3 3 4 9 7 4 3 1 8 8 9 2 3 7 9 7 7 4 1 4 8 2 3 6 9 8 7 6 7 7 4 6 1 7 8 5 5 6 3 6 4 8 7 9 9 6 2 9 6 5 5 9 7 2 5 2 8 9 5 3 3 1 8 7 7 8 3 3 2 6 1 6 6 3 7 4 5 2 4 9 4 3 2 9 6 1 4 2 5 3 9 6 8 8 3 7

In [17]:
a = 'hello world'
print(a[0])

h

#looping through a string
since strings are arrays, we can help loop through the characters in a string, with a for loop

In [19]:
for i in a:
    print(i)

h
e
l
l
o

w
o
r
l
d

# string length
to get the string of a string, user the len() function
1. the lenn() function returns the length of a string

In [21]:
print(len(a))

11

# check string
to check if a certain phase or character is present is a string, we can use the keyword in
1. stay substring reurn True
2. not stay substring retun False

In [29]:
name = 'my name is md atiar rahman'
print('my' in name)

True

# member function 
1. in
2. not in

# slicing string
you can return a range of characters by using the slice syntax
- specify the start index and the end index,separted by a colon, to return a part of the string
1. str_name[start:end:step]
2. str_name[:end:] --> by default start 0 and step-1
3. str_name[::] --> by default start 0 stop last-1 and step-1

here start and stop and step is positive in index first to last
start and stop and step is negative in index last to first

# modify string
python has a set of build in mehods that you can use on string
1. Upper case --> str_name.upper()
2. Lower case --> str_name.lower()
# Remove whitespace
whitespace is the space before and/or after the actual text, and very often you want to remove this space
1. remove begining and end --> str_name.strip()
2. first whitespace --> str_name.lstrip()
3. last whitespace --> str_name.rstrip()
# split string
the split() method returns a list where the text between the specified spearator becomes the list items
1. str_name.split("") --> pass by the separate the split string
# string concatenate
first_name = "md atiar"
last_name = "Rahman"
full_name = first_name+last_name

# format string
As we learned in the python variable.we can not combine strings and numbers like this

In [32]:
age=23
print(f"my name is md atiar rahman and my age {age}")

my name is md atiar rahman and my age 23

# String Methods
Python has a set of built-in methods that you can use on strings.

- Note: All string methods return new values. They do not change the original string.

- Method	Description
- capitalize()	Converts the first character to upper case
- casefold()	Converts string into lower case
- center()	Returns a centered string
- count()	Returns the number of times a specified value occurs in a string
- encode()	Returns an encoded version of the string
- endswith()	Returns true if the string ends with the specified value
- expandtabs()	Sets the tab size of the string
- find()	Searches the string for a specified value and returns the position of where it was found
- format()	Formats specified values in a string
- format_map()	Formats specified values in a string
- index()	Searches the string for a specified value and returns the position of where it was found
- isalnum()	Returns True if all characters in the string are alphanumeric
- isalpha()	Returns True if all characters in the string are in the alphabet
- isascii()	Returns True if all characters in the string are ascii characters
- isdecimal()	Returns True if all characters in the string are decimals
- isdigit()	Returns True if all characters in the string are digits
- isidentifier()	Returns True if the string is an identifier
- islower()	Returns True if all characters in the string are lower case
- isnumeric()	Returns True if all characters in the string are numeric
- isprintable()	Returns True if all characters in the string are printable
- isspace()	Returns True if all characters in the string are whitespaces
- istitle()	Returns True if the string follows the rules of a title
- isupper()	Returns True if all characters in the string are upper case
- join()	Joins the elements of an iterable to the end of the string
- ljust()	Returns a left justified version of the string
- lower()	Converts a string into lower case
- lstrip()	Returns a left trim version of the string
- maketrans()	Returns a translation table to be used in translations
- partition()	Returns a tuple where the string is parted into three parts
- replace()	Returns a string where a specified value is replaced with a specified value
- rfind()	Searches the string for a specified value and returns the last position of where it was found
- rindex()	Searches the string for a specified value and returns the last position of where it was found
- rjust()	Returns a right justified version of the string
- rpartition()	Returns a tuple where the string is parted into three parts
- rsplit()	Splits the string at the specified separator, and returns a list
- rstrip()	Returns a right trim version of the string
- split()	Splits the string at the specified separator, and returns a list
- splitlines()	Splits the string at line breaks and returns a list
- startswith()	Returns true if the string starts with the specified value
- strip()	Returns a trimmed version of the string
- swapcase()	Swaps cases, lower case becomes upper case and vice versa
- title()	Converts the first character of each word to upper case
- translate()	Returns a translated string
- upper()	Converts a string into upper case
- zfill()	Fills the string with a specified number of 0 values at the beginning

# boolean
Most value are True
- almost any value is evaluated to True if it has some sort of content
- any string is true, except empty string
- Any number is true, except 0
- Any list,tuple and dict are true, except empty ones

Some Values are False
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

# functions can return a boolean
you can create functions that returns a boolean value

In [36]:
def my_fun():
    return True

print(my_fun())

True

# python operators
1. arithmetic operators
2. assignment operators
3. comparison operators
4. logical operators
5. identity operators
6. membership operators
7. bitwise operators