In [1]:
def sum(a,b):
    print(a+b)

In [2]:
sum(1,2)

3

In [3]:
sum(1,3,4)

TypeError: sum() takes 2 positional arguments but 3 were given

In [12]:
def sum(*args):
    print(args)
    sum=0
    for i in args:
        sum+=i
    print(sum)

In [13]:
sum(1,2,3)

(1, 2, 3)
6

In [14]:
sum(1,2,3,4,5)

(1, 2, 3, 4, 5)
15

In [15]:
def func(**kwargs):
    
    for key,value in kwargs.items():
        print(f'{key}: {value}')
        
        
result = func(apple=2)

apple: 2

In [16]:
func(apple=4,orange=5)

apple: 4
orange: 5